* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.centerHor {
    display: flex;
    justify-content: center;
}

.centerVer {
    display: flex;
    align-items: center;
}

.basicBorder {
    outline: none;
    border-width: 1px;
    border-color: #707070;
    border-style: solid;
    border-radius: 0.5vh;
}

.basicBorder2 {
    outline: none;
    border-width: 2px;
    border-color: #707070;
    border-style: solid;
}

.excelBorder {
    border-width: 2px;
    border-color: #077D3F;
    border-style: solid;
    border-radius: 0.5vh;
}

.clear {
    clear: both;
}