<!DOCTYPE html>
<html class="sm:h-full">
    <head>
        <meta charset="utf-8">
        <title>QRCatt Students App</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cairo">
        <link rel="stylesheet" href="/tailwind">
        <link rel="stylesheet" href="/basic">
        <style>
            #main-page, #camPage, #resultPage {
                transition: all 1s;
            }

            video {
                object-fit: fill;
            }
        </style>
    </head>
    <body class="sm:h-full font-[Cairo]">
        <div class="relative h-full w-full">
            <div id="main-page" class="sm:h-full sm:w-full absolute left-0">
                <div class="centerHor sm:pt-[8.5vh]"><img class="sm:w-[70vw] sm:h-[70vw]" src="/images/permissions.svg"></div>
                <div class="centerHor sm:pt-[4.5vh]"><div class="sm:w-[75vw] text-[2.5vh] text-center">Kindly, make sure you have enabled the following permissions:</div></div>
                <div class="centerHor sm:pt-[4vh]">
                    <div class="sm:w-[75vw]">
                        <img class="float-left sm:w-[2.5vh] sm:h-[2.5vh]" src="/images/location.svg">
                        <div class="sm:pl-[1vh] centerVer sm:h-[2.5vh]">
                            <span class="float-left text-[1.7vh]">Location</span>
                        </div>
                    </div>
                </div>

                <div class="centerHor sm:pt-[2vh]">
                    <div class="sm:w-[75vw]">
                        <img class="float-left sm:w-[2.5vh] sm:h-[2.5vh]" src="/images/camera.svg">
                        <div class="sm:pl-[1vh] centerVer sm:h-[2.5vh]">
                            <span class="float-left text-[1.7vh]">Camera</span>
                        </div>
                    </div>
                </div>

                <div class="centerHor sm:pt-[9vh]">
                    <button id="scan" class="rounded-[0.5vh] hover:bg-[#1492E6] bg-[#2389B3] text-[2.5vh] text-white sm:h-[6vh] sm:w-[70vw]">Scan New QR</button>
                </div>
            </div>

            <div id="camPage" class="sm:h-full sm:w-full absolute left-[-100vw] hidden">
                <video id="cam-container" class="h-full w-full"></video>
                <button id="cam-close" class="absolute right-0 top-0 centerHor centerVer bg-black bg-opacity-[0.5] w-[5vh] h-[5vh] text-white text-[3vh]"><span>X</span></button>
                <button id="toggleCam" class="absolute right-0 bottom-0 centerHor centerVer bg-black bg-opacity-[0.5] w-[5vh] h-[5vh] text-white text-[3vh]"><span>&gt;</span></button>
            </div>

            <div id="resultPage" class="sm:h-full sm:w-full absolute left-[-100vw] hidden">
                <div class="pt-[8.6vh] centerHor"><img class="sm:w-[60vw] sm:h-[60vw]" id="resultImg"></div>
                <div class="text-center text-[2.5vh] pt-[8vh]"><span id="status"></span></div>
                <div class="text-center text-[1.6vh] pt-[2vh]"><%= student_name %></div>
                <div class="text-center text-[1.6vh]"><%= student_id %></div>
                <div class="centerHor pt-[10vh]">
                    <button id="next" class="rounded-[0.5vh] hover:bg-[#1492E6] bg-[#2389B3] text-[2.5vh] text-white sm:h-[6vh] sm:w-[70vw]"></button>
                </div>
            </div>
        </div>
        <script src="/qr-scanner.umd.min.js"></script>
        <script src="/students/script"></script>
    </body>
</html>